flows.json
[{"id":"d08c5f1a.11e41","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81ee0eee.dd013","type":"csv","z":"d08c5f1a.11e41","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"x":550,"y":260,"wires":[["f0ad76e6.92f7f8"]]},{"id":"814e30e0.dbe8a","type":"cos-get","z":"d08c5f1a.11e41","name":"","bucket":"ibmhc-donotdelete-pr-zfibdudoe5ep9j","objectname":"lockdwn_emotion_n.csv","mode":"1","filepath":"","filename":"mypanda.csv","geturl":false,"geturlExpiry":900,"cosconfig":"3ef096d1.39f6ca","x":270,"y":220,"wires":[["360a5df6.76f432"]]},{"id":"360a5df6.76f432","type":"function","z":"d08c5f1a.11e41","name":"CSV","func":"var b= Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["81ee0eee.dd013"]]},{"id":"f0ad76e6.92f7f8","type":"function","z":"d08c5f1a.11e41","name":"Emo","func":"var msg1= {};\nvar msg2={};\nmsg1=msg.payload.number;\nmsg2=msg.payload.emotion;\nmsg.payload=msg1\nmsg.topic=msg2\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["89b6f1b9.fefc2"]]},{"id":"89b6f1b9.fefc2","type":"ui_chart","z":"d08c5f1a.11e41","name":"","group":"732a89f6.b8d448","order":1,"width":11,"height":"11","label":"Emotions","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#5a9ef6","#ff7f0e","#2ca02c","#631aad","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":260,"wires":[[]]},{"id":"94aab905.9a4058","type":"csv","z":"d08c5f1a.11e41","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"x":530,"y":40,"wires":[["db43be3.778284"]]},{"id":"b420c238.c17d6","type":"cos-get","z":"d08c5f1a.11e41","name":"","bucket":"ibmhc-donotdelete-pr-zfibdudoe5ep9j","objectname":"lockdown_sentiment (1).csv","mode":"1","filepath":"","filename":"mypanda.csv","geturl":false,"geturlExpiry":900,"cosconfig":"3ef096d1.39f6ca","x":220,"y":40,"wires":[["48d61cd1.7018e4"]]},{"id":"48d61cd1.7018e4","type":"function","z":"d08c5f1a.11e41","name":"CSV","func":"var b= Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["94aab905.9a4058"]]},{"id":"db43be3.778284","type":"function","z":"d08c5f1a.11e41","name":"Senti","func":"var msg1= {};\nvar msg2={};\nmsg1=msg.payload.count;\nmsg2=msg.payload.sentiment;\nmsg.payload=msg1\nmsg.topic=msg2\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["42584e0f.323ec"]]},{"id":"42584e0f.323ec","type":"ui_chart","z":"d08c5f1a.11e41","name":"","group":"f593ed43.5947d","order":1,"width":11,"height":11,"label":"Sentiment","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#ff1900","#fff829","#22f613","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":140,"wires":[[]]},{"id":"ff5dc191.e5668","type":"csv","z":"d08c5f1a.11e41","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"x":550,"y":420,"wires":[["a7cf8512.8ba0d8"]]},{"id":"cf0383d2.c569","type":"cos-get","z":"d08c5f1a.11e41","name":"","bucket":"ibmhc-donotdelete-pr-zfibdudoe5ep9j","objectname":"final_emotion_n.csv","mode":"1","filepath":"","filename":"mypanda.csv","geturl":false,"geturlExpiry":900,"cosconfig":"3ef096d1.39f6ca","x":270,"y":380,"wires":[["e1d5a9a3.361248"]]},{"id":"e1d5a9a3.361248","type":"function","z":"d08c5f1a.11e41","name":"CSV","func":"var b= Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["ff5dc191.e5668"]]},{"id":"a7cf8512.8ba0d8","type":"function","z":"d08c5f1a.11e41","name":"Emo","func":"var msg1= {};\nvar msg2={};\nmsg1=msg.payload.number;\nmsg2=msg.payload.emotion;\nmsg.payload=msg1\nmsg.topic=msg2\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["5812b848.19ddf8"]]},{"id":"5812b848.19ddf8","type":"ui_chart","z":"d08c5f1a.11e41","name":"","group":"4867334e.b5969c","order":1,"width":11,"height":10,"label":"Emotions","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2bf3e5","#ff7f0e","#2ca02c","#8321d4","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":420,"wires":[[]]},{"id":"3072a438.0aa2ec","type":"csv","z":"d08c5f1a.11e41","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"","skip":"0","strings":false,"x":590,"y":540,"wires":[["8065fc2c.e9d37"]]},{"id":"6487aac9.eaf2b4","type":"cos-get","z":"d08c5f1a.11e41","name":"","bucket":"ibmhc-donotdelete-pr-zfibdudoe5ep9j","objectname":"final_sentiment (1).csv","mode":"1","filepath":"","filename":"mypanda.csv","geturl":false,"geturlExpiry":900,"cosconfig":"3ef096d1.39f6ca","x":280,"y":540,"wires":[["f2d7014c.5174a"]]},{"id":"f2d7014c.5174a","type":"function","z":"d08c5f1a.11e41","name":"CSV","func":"var b= Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["3072a438.0aa2ec"]]},{"id":"8065fc2c.e9d37","type":"function","z":"d08c5f1a.11e41","name":"Senti","func":"var msg1= {};\nvar msg2={};\nmsg1=msg.payload.count;\nmsg2=msg.payload.sentiment;\nmsg.payload=msg1\nmsg.topic=msg2\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":580,"wires":[["75fabbf8.14a034"]]},{"id":"75fabbf8.14a034","type":"ui_chart","z":"d08c5f1a.11e41","name":"","group":"da58c052.b0ea2","order":1,"width":11,"height":10,"label":"Sentiment","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ee1f11","#fff04d","#6afd2b","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":620,"wires":[[]]},{"id":"8d72ce3.75b723","type":"inject","z":"d08c5f1a.11e41","name":"","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["cf0383d2.c569","6487aac9.eaf2b4","b420c238.c17d6","814e30e0.dbe8a"]]},{"id":"3ef096d1.39f6ca","type":"cos-config","z":"","apiKeyId":"9EYV0bWutOcxmATZogRqqhzshYzsfFDjvJAXFvxN3GiA","location":"us-geo","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3-api.us-geo.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/18a12e77fae84eb29010428726fb8637:343be4cb-3ac9-4055-8f63-eb515f777e28::","hmac":false,"accesskeyid":"","accesskey":"","name":"Analysis"},{"id":"732a89f6.b8d448","type":"ui_group","z":"","name":"Emotion","tab":"a9b93350.d0263","order":1,"disp":false,"width":"11","collapse":false},{"id":"f593ed43.5947d","type":"ui_group","z":"","name":"Sentiment","tab":"a9b93350.d0263","order":2,"disp":false,"width":"11","collapse":false},{"id":"4867334e.b5969c","type":"ui_group","z":"","name":"Emotions","tab":"82bb4456.66a0c8","order":1,"disp":true,"width":"11","collapse":false},{"id":"da58c052.b0ea2","type":"ui_group","z":"","name":"Sentiment","tab":"82bb4456.66a0c8","order":2,"disp":true,"width":11,"collapse":false},{"id":"a9b93350.d0263","type":"ui_tab","z":"","name":"#Lockdown","icon":"poll","order":1,"disabled":false,"hidden":false},{"id":"82bb4456.66a0c8","type":"ui_tab","z":"","name":"#India Fight Corona","icon":"poll","order":2,"disabled":false,"hidden":false}]